* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.2rem;
}

.main {
  width: 100%;
}

.heading {
  font: 3.6rem PT Serif, sans-serif;
  font-weight: bold;
  margin-top: 4.438rem;
}

.heading-container{
  margin-top:7rem;
}

.subheading {
  font: 1.8rem Poppins, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 2.375rem;
}

.team-intro {
  font: 1.4rem Poppins, sans-serif;
  font-weight: 400;
  margin-top: 0.625rem;
  max-width: 39ch;
}

.team-container{
  margin-top:4rem;
  
}

.member-container {
  display: flex;
  max-width:26.4rem;
}

.profile-info-wrapper {
  width:fit-content;
}


.name {
  font: 1.4rem Poppins, sans-serif;
  font-weight: 600;
}

.role {
  text-transform: uppercase;
  font: 1rem PT Serif, sans serif;
  font-weight: 400;
  writing-mode: vertical-lr;
  
}

.pfp {
  height: auto;
  max-width: 100%;
  display: block;
  padding: 0 0.7em 0.7em 0;
}

.team-container {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:2rem;
  justify-items:center;
}

.member-container:nth-child(even){
  padding-top:5rem;
}

footer {
  padding: 13rem 0px 1rem;
  margin-top: auto;
  width: 100%;
}

.footer-text {
  font: 1.4rem Montserrat, sans-serif;
  color: #bdbdbd;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .heading-container {
    display: flex;
    justify-content: space-evenly;
  }
  .name{
    font-size:1.8rem
  }
  .role{
    font-size:1.2rem;
  }
}


@media only screen and (min-width: 1024px) {
  .heading-container {
    display: flex;
    justify-content: space-evenly;
    margin:11rem 0rem;
  }
  .team-intro {
    font-size: 1.8rem;
  }
  .team-container {
    grid-template-columns:repeat(3,1fr);
  }
  .member-container:nth-child(even) {
    padding-top:0;
  }
  .member-container:nth-child(2), .member-container:nth-child(5){
    padding-top:5rem;
  }
  .team-wrapper{
    
    justify-content:center;
  }
}
